
{% extends "base.html" %}


{% block title %}
<h1>About</h1>
{% endblock %}

{% block content %}	 
	 <div class="container">
	 	<div class="row">
	 		<div class="col-lg-6">
	 			<br>
	 			<img class="img-responsive" src="static/img/joe.jpg" alt="">
	 		</div>
	 		
	 		<div class="col-lg-6">
		 		<h4>More about me</h4>
		 		<p>When I was four years old, both computers and video games entered my life. I still remember the Christmas getting my NES, and the following birthday when I was finally allowed to play on our old 386. From there, it was all downhill.</p>
		 		<p>As I got older, I became more and more interested in technology. A result of this was learning more as well. By the time I was six years old, I had surpassed my father in working knowledge of our computers. When I was eight, I built my own PC for my own use from the ground up.</p>
		 		<p>When I first entered college at Penn State in 2003, I was not sure what I truly wanted to study. I was thinking of both Computer Engineering and Information Science and Technology. While I started with the former, I soon changed to the latter. After two years of college, I took time working in the IT field to gain a better perspective of what I wanted my career path to become.</p>
		 		<p>Returning to undergrad, I hit the ground running and spent more time in research labs. I began working on research in Cognitive Science, where it became apparent that I could mix my passions of development and music together. I headed to Tufts planning on getting my Masters while further strengthening my skills and knowledge.</p>
		 		<p>In my spare time, my hobbies include circuit bending, hacking, playing guitar and banjo, video games, skiing, golf, watching Jeopardy!. I also spend a lot of my spare time on various <a href="projects">projects</a>.</p>
	 		</div>
	 	</div><! --/row -->
	 </div><! --/container -->
	 
{% endblock %}	