{% extends "base.html" %}


{% block title %}
<h1>BlockyTalky</h1>
{% endblock %}

{% block content %}
	 <div class="container mtb">
	 	<div class="row">
	 		<div class="col-lg-7">
	 			<br>
	 			<iframe width=640 height=360 src="https://www.youtube-nocookie.com/embed/osmJIX7HZic?rel=0" frameborder=0 allowfullscreen></iframe>
	 		</div>
	 		
	 		<div class="col-lg-5">
		 		<p>The BlockyTalky project investigates how youth can learn about parallel and distributed computing through designing, building, and programming networked devices that communicate with each other, web services, and mobile devices.</p>
		 		<p>As part of our research, we have developed a prototype software and hardware toolkit (also called BlockyTalky) that makes it easy for users to build physical devices that can sense and act in the physical world as well as communicate over LANs and the Internet with other BlockyTalky devices, web services (e.g., social media), and, eventually, user-built mobile applications. Each BlockyTalky devices is a web server; users can connect using any HTML5-compliant browser and program their devices using a blocks-based language.</p>
		 		<p>Quite a bit of recent research has shown that the opportunity to build computing enhanced physical objects, whether robots, fashion pieces, or public displays, can get youth excited about computing. However, that research has largely ignored the very important role of networked and social media in youths lives. Nearly all American teens use social media; but there are scant tools to create their own socially-connected systems, and none that create bridges between their virtual lives and the physical spaces they inhabit. BlockyTalky makes it possible for youth to create new physical and virtual ways to connect to one-another, and with their homes and communities. For example, the video shows an Internet-connected remote-controlled cat telepresence and feeding system</p>
		 		<p>BlockyTalky continues to grow from my initial development as I prepare to graduate from Tufts. More information on BlockyTalky can be found <a href="http://lpc.cs.tufts.edu/blockytalky/" target="_new">here</a>.</p>
	 		</div>
	 	</div><! --/row -->
	 </div><! --/container -->
{% endblock %}