{% extends "base.html" %}


{% block title %}
<h1>guitar++</h1>
{% endblock %}

{% block content %}
<div class="container">
	<div class="container">
	 	<div class="row">		 	
		 	<div class="col-lg-5 col-lg-offset-1">
		 		<div class="spacing"></div>
		 		<h4><i class="fa fa-home"></i> remoCondo</h4>
		 		<p>Originally started with tinkering with trying to make effects in Arduino-C, the idea for guitar++ has been growing and is in beginning development stages. After finding it rather difficult to create effects and tones with such little computing power, I decided to take a different route. I was invited and accepted a position as a teaching assistant in <a href="http://tuftsemid.com" target="_new">Electronic Musical Instrument Design</a>, and decided to use the same pipeline of Arduino <i class="fa fa-arrow-right"></i> Max <i class="fa fa-arrow-right"></i> Reason. This page will be updated as this is a work in progress alongside my students for the Spring 2015 Semester.</p>
	 			<br>
	 		</div>
	 		<div class="col-lg-4 col-lg-offset-1">
		 		<div class="spacing"></div>
		 		<h4>Project Details</h4>
		 		<div class="hline"></div>
		 		<p><b>Name:</b> guitar++</p>
		 		<p><b>Started:</b> August 2014</p>
		 		<p><b>Languages:</b> Arduino-C, Max</p>
		 		<p><b>Technologies:</b> Arduino, Sensors, Electronics</p>
		 		<p><b><i class="fa fa-github"></i> GitHub:</b> <a href="http://github.com/joesanford/guitarplusplus" target="_new">guitar++</a></p>
		 		<div class="spacing"></div>
		 		<h4>Project Media</h4>
		 		<div class="hline"></div>
		 		<center><p><b>"Before" of the guitar</b></p></center>
		 		<img src="static/img/guitar.jpeg"><br><br>
	 		</div>
	 	</div>
	 </div>
{% endblock %}