{% extends "base.html" %}


{% block title %}
<h1>Other Projects</h1>
{% endblock %}

{% block content %}
<div class="container">
	<div class="container">
	 	<div class="row">		 	
		 	<div class="col-lg-5 col-lg-offset-1">
		 		<div class="spacing"></div>
		 		<h4>Hydralys - an iOS Synth</h4>
		 		<p>A group effort with two others for Music Apps on the iPad, a special topics couse at Tufts. I personally created the Pure Data file, which allowed for changing key and synth parameters on the fly, and generated the tone itself. I also worked on connecting UI controls to synth and effect parameters.</p>
	 			<br>
	 		</div>
	 		<div class="col-lg-4 col-lg-offset-1">
		 		<div class="spacing"></div>
		 		<h4>Project Details</h4>
		 		<div class="hline"></div>
		 		<p><b>Name:</b> Hydralys</p>
		 		<p><b>Started:</b> January 2015</p>
		 		<p><b>Languages:</b> Swift, Pure Data</p>
		 		<p><b>Technologies:</b> iOS, iPad</p>
		 		<div class="spacing"></div>
		 		<h4>Project Media</h4>
		 		<div class="hline"></div>
		 		<center><p><b>In-Class Demo</b></p>
		 		<iframe width=320 height=240 src="https://www.youtube-nocookie.com/embed/ASAPIsfUvU0?rel=0" frameborder=0 allowfullscreen></iframe></center><br><br>
		 		<br>
	 		</div>
	 	</div>
	 </div>
	</div>
	<div class="hline"></div>
	<div class="container">
	<div class="container">
	 	<div class="row">		 	
		 	<div class="col-lg-5 col-lg-offset-1">
		 		<div class="spacing"></div>
		 		<h4>Guitar Effects Pedals</h4>
		 		<p>I have worked on and off for years building, designing, and modifying effects pedals. Originally inspired by circuit bending cheap pedals and finding interesting results, I moved on to trying a pedal kit. It worked well, and I have made and modified several pedals since. Some pedals include a ZVez Super Hard On and RAT clone combined into one pedal, a circuit bent Arion chorus that can generate "whale like" tones, and many clones (MXR Phase 90, MXR Blue Box, TS-808).</p>
	 			<br>
	 		</div>
	 		<div class="col-lg-4 col-lg-offset-1">
		 		<div class="spacing"></div>
		 		<h4>Project Details</h4>
		 		<div class="hline"></div>
		 		<p><b>Name:</b> Guitar Effects Pedals</p>
		 		<p><b>Started:</b> 2008</p>
		 		<div class="spacing"></div>
		 		<h4>Project Media</h4>
		 		<div class="hline"></div>
	 		</div>
	 	</div>
	 </div>
	</div>

{% endblock %}