{% extends "base.html" %}


{% block title %}
<h1>Publications</h1>
{% endblock %}


{% block content %}
<div class="container">
<div class="col-lg-2"></div>
<div class="col-lg-8" align="left">
	<br>
	<ul class="pub-list">
		<li class="pub-item">Joseph P. Sanford, Aaron Tietz, Saad Farooq, Samuel Guyer, and Shapiro R. Benjamin. Metaphors we teach by. In <i>Proceedings of the 45th ACM Technical Symposium on Computer Science Education</i>. ACM, 2014.</li>
		<li class="pub-item">Changkun Zhao, Ryan Kaulakis, Jonathan H. Morgan, Jeremiah W. Hiam, Joseph P. Sanford, Frank E. Ritter, and Geoffrey P Morgan. Building social networks out of cognitive blocks: factors of interest in agent-based socio-cognitive simulations <i>Computational and Mathematical Organization Theory</i>, 2013. <a href="http://link.springer.com/article/10.1007/s10588-014-9179-0#page-1" target="_new"><i class="fa fa-external-link fa-lg"></i></a></li>
		<li class="pub-item">Joseph P. Sanford, Dmitry Oleynikov, Ka-Chun Siu, and Frank E. Ritter. Effects of varied surgical simulation training schedules on motor-skill acquisition. In <i>Proceedings of 2012 Military Health System Research Symposium, Fort Lauderdale, FL</i>., 2012.</li>
		<li class="pub-item">Ryan Kaulakis, Changkun Zhao, Jonathan H. Morgan, Jeremiah W. Hiam, Joseph P. Sanford, and Frank E. Ritter. Defining factors of interest for large-scale socio-cognitive simulations. In <i>Proceedings of ICCM Eleventh International Conference on Cognitive Modeling</i>, 2012. <a href="http://acs.ist.psu.edu/papers/kaulakisZMHSR12.pdf" target="_new"><i class="fa fa-external-link fa-lg"></i></a></li>
		<li class="pub-item">Changkun Zhao, Ryan Kaulakis, Jonathan H. Morgan, Jeremiah W. Hiam, Joseph P. Sanford, Frank E. Ritter, and Geoffrey P Morgan. Socio-cognitive networks: modeling the effects of space and memory on generative social structures. In <i>Proceedings of the 21st Conference on Behavior Representation in Modeling and Simulation. Amelia Island, FL</i>., 2012. <a href="http://acs.ist.psu.edu/papers/zhaoKMHSRM12.pdf" target="_new"><i class="fa fa-external-link fa-lg"></i></a></li>
		<li class="pub-item">Changkun Zhao, Ryan Kaulakis, Jonathan H. Morgan, Jeremiah W. Hiam, S. Kataria, Joseph P. Sanford, and Frank E. Ritter. Modeling heterogeneous socio-cognitive networks. <i>Poster session presented at DTRA Basic Research Technical Review, Springfield, VA</i>, 2011.</li>
	</ul>
	<br>
</div>
<div class="col-lg-2"></div>
</div>
{% endblock %}