<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="static/img/favicon.ico">

    <title>./joe_sanford</title>

    <link href="static/css/bootstrap.css" rel="stylesheet">

    <link href="static/css/style.css" rel="stylesheet">
    <link href="static/css/font-awesome.min.css" rel="stylesheet">


</head>

<body>
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">./joe_sanford</a>
        </div>
        <div class="navbar-collapse collapse navbar-right">
            <ul class="nav navbar-nav">
                <li><a href="/">HOME</a></li>
                <li><a href="about">ABOUT</a></li>
                <li><a href="contact">CONTACT</a></li>
                <li><a href="resume">RÉSUMÉ</a></li>
                <li><a href="publications">PUBLICATIONS</a></li>
                <li><a href="projects">PROJECTS</a></li>
                <li><a href="https://github.com/joesanford/" target="_new"><i class="fa fa-github fa-lg"></i></a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>

<div id="headerwrap">
    <div class="container">
        <div class="row"
             style="background-image: url(static/img/circuit.png); background-repeat: no-repeat; background-position: right top; background-size: 240px 80px;">
            <div class="col-lg-1"></div>
            <div class="col-lg-6 col-lg-offset-0" align="left">
                {% block title %}{% endblock %}
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->

<div id="content">{% block content %}{% endblock %}</div>

<footer class="footer row">
    <div id="footerwrap" class="navbar-fixed-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                </div>
                <div class="col-lg-4">
                </div>
                <div class="col-lg-4" align="right">
                    <p>
                        &copy; {{ now.year }} joe sanford
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/retina-1.1.0.js"></script>
<script src="static/js/jquery.hoverdir.js"></script>
<script src="static/js/jquery.hoverex.min.js"></script>
<script src="static/js/jquery.prettyPhoto.js"></script>
<script src="static/js/jquery.isotope.min.js"></script>
<script src="static/js/custom.js"></script>
<script>

</script>
</body>
</html>
