{% extends "base.html" %}


{% block title %}
<h1>Home</h1>
{% endblock %}

{% block content %}
	 <div id="service">
	 	<div class="container">
 			<div class="row centered">
 				<div class="col-md-4">
 					<i class="fa fa-terminal"></i>
 					<h4>Developer</h4>
 					<p>Starting off professionally as a SQL developer, I quickly picked up
 					new languages and technologies to grow my skill set. I am now armed with multiple languages (Python, Node, C, C++, Swift, and <a href="resume">more</a>), along with in-depth systems and database knowledge. </p>
 				</div>
 				<div class="col-md-4">
 					<i class="fa fa-wrench"></i>
 					<h4>Hacker</h4>
 					<p>A hacker of the old sort, I built my first computer at a young age, and continue to hack on electronics. This includes <a href="projects_homeauto">home automation</a> and building <a href="projects_other">guitar pedals</a>. I still will let you know if I find security flaws in your software, and enjoy working with security issues.</p>
 				</div>
 				<div class="col-md-4">
 					<i class="fa fa-music"></i>
 					<h4>Musician</h4>
 					<p>Classically trained in clarinet, and player of all stringed/fretted instruments (though primarily guitar and banjo). I also <a href="projects_other">create music apps for iOS</a>, and am currently designing an instrument of my own <a href="http://www.tuftsemid.com" target="_new">alongside my students</a>, called guitar++. </p>
 				</div>		 				
	 		</div>
	 	</div>
	 </div>
{% endblock %}