{% extends "base.html" %}


{% block title %}
<h1>Projects</h1>
{% endblock %}

{% block content %}
<div class="container">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1">
                <div class="spacing"></div>
                <h4>Alexa MBTA Skill</h4>
                <p>A custom written Amazon Echo skill to allow me to check the status of the trains on my commute.
                    Currently working on a skill that will work for all MBTA services.</p>
                <br>
            </div>
            <div class="col-lg-4 col-lg-offset-1">
                <div class="spacing"></div>
                <h4>Project Details</h4>
                <div class="hline-dim"></div>
                <p><b>Name:</b> alexa-mbta</p>
                <p><b>Started:</b> May 2017</p>
                <p><b>Languages:</b> Node.js</p>
                <p><b>Technologies:</b> Amazon Echo</p>
                <b><i class="fa fa-github"></i> GitHub:</b> <a href="http://github.com/joesanford/alexa-mbta" target="_new">alexa-mbta</a></p>
                <div class="spacing"></div>
                <h4>Project Media</h4>
                <div class="hline-dim"></div>
                <center><p><b>Video</b></p>
                    <iframe width=320 height=240 src="https://www.youtube-nocookie.com/embed/ra1zky-jraY?rel=0"
                            frameborder=0 allowfullscreen></iframe>
                </center>
                <br><br>
                <br>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="hline"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1">
                <div class="spacing"></div>
                <h4>Hydralys - an iOS Synth</h4>
                <p>A group effort with two others for Music Apps on the iPad, a special topics course at Tufts. I
                    personally created the Pure Data file, which allowed for changing key and synth parameters on the
                    fly, and generating the tone itself. I also worked on connecting UI controls to synth and effect
                    parameters.</p>
                <br>
            </div>
            <div class="col-lg-4 col-lg-offset-1">
                <div class="spacing"></div>
                <h4>Project Details</h4>
                <div class="hline-dim"></div>
                <p><b>Name:</b> Hydralys</p>
                <p><b>Started:</b> January 2015</p>
                <p><b>Languages:</b> Swift, Pure Data</p>
                <p><b>Technologies:</b> iOS, iPad</p>
                <div class="spacing"></div>
                <h4>Project Media</h4>
                <div class="hline-dim"></div>
                <center><p><b>In-Class Demo</b></p>
                    <iframe width=320 height=240 src="https://www.youtube-nocookie.com/embed/ASAPIsfUvU0?rel=0"
                            frameborder=0 allowfullscreen></iframe>
                </center>
                <br><br>
                <br>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="hline"></div>
	<div class="container">
	 	<div class="row">
		 	<div class="col-lg-5 col-lg-offset-1">
		 		<div class="spacing"></div>
                <h4>BlockyTalky</h4>
		 		<p>The BlockyTalky project investigates how youth can learn about parallel and distributed computing through designing, building, and programming networked devices that communicate with each other, web services, and mobile devices.</p>
		 		<p>As part of our research, we have developed a prototype software and hardware toolkit (also called BlockyTalky) that makes it easy for users to build physical devices that can sense and act in the physical world as well as communicate over LANs and the Internet with other BlockyTalky devices, web services (e.g., social media), and, eventually, user-built mobile applications. Each BlockyTalky devices is a web server; users can connect using any HTML5-compliant browser and program their devices using a blocks-based language.</p>
		 		<p>Quite a bit of recent research has shown that the opportunity to build computing enhanced physical objects, whether robots, fashion pieces, or public displays, can get youth excited about computing. However, that research has largely ignored the very important role of networked and social media in youths lives. Nearly all American teens use social media; but there are scant tools to create their own socially-connected systems, and none that create bridges between their virtual lives and the physical spaces they inhabit. BlockyTalky makes it possible for youth to create new physical and virtual ways to connect to one-another, and with their homes and communities. For example, the video shows an Internet-connected remote-controlled cat telepresence and feeding system</p>
		 		<p>BlockyTalky continues to grow from my initial development as I prepare to graduate from Tufts. More information on BlockyTalky can be found <a href="http://lpc.cs.tufts.edu/blockytalky/" target="_new">here</a>.</p>
	 			<br>
	 		</div>
	 		<div class="col-lg-4 col-lg-offset-1">
		 		<div class="spacing"></div>
		 		<h4>Project Details</h4>
		 		<div class="hline-dim"></div>
		 		<p><b>Name:</b> BlockyTalky</p>
		 		<p><b>Worked on:</b> July 2013 - August 2014</p>
		 		<p><b>Languages:</b> Python, PureData, HTML, CSS, JS</p>
		 		<p><b>Technologies:</b> Raspberry Pi, Flask, jQuery, rabbitMQ, BrickPi LEGO Mindstorms Shield</p>
		 		<p><b><i class="fa fa-github"></i> GitHub:</b> <a href="https://github.com/LaboratoryForPlayfulComputation/blockytalky" target="_new">BlockyTalky</a></p>
		 		<div class="spacing"></div>
		 		<h4>Project Media</h4>
		 		<div class="hline-dim"></div>
		 		<center><p><b>Cat Treats!</b></p>
		 		<iframe width=320 height=240 src="https://www.youtube-nocookie.com/embed/osmJIX7HZic?rel=0" frameborder=0 allowfullscreen></iframe></center><br><br>
	 		</div>
	 	</div>
	 </div>
</div>
<div class="container">
    <div class="hline"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1">
                <div class="spacing"></div>
                <h4><i class="fa fa-home"></i> remoCondo</h4>
                <p>The remoCondo home automation project was born out of two things. First, I had played with my Raspberry Pi, trying out interesting custom images such as <a href="http://www.raspbmc.com/" target="_new">Raspbmc</a> and <a href="http://blog.petrockblock.com/retropie/" target="_new">Retropie</a>, and decided to create something of my own. Second, my condo association charges a lot per extra key to the building, and I wanted a simple, yet secure, way to let other people in (say, to feed my cat). From here, remoCondo was born.</p>
		 		<p>After getting a simple setup combining the Flask microframework with a basic front-end, an optocoupler, and Google OAuth for security, I could whitelist any friends and with a click of a button they could get into the building. It worked great, so I decided to add more features so my Pi was doing more than one simple task.</p>
		 		<p>As the system was located in my living room, I started thinking about what else I could control. Utilizing <a href="http://www.lirc.org/" target="_new">LIRC</a> I found it was easy to control any device that could receive IR commands. I added controls for my television, stereo, game consoles, and most importantly my in-wall air conditioner. To also keep track of the temperature, I connected a TMP35 analog temperature sensor to the Pi. All of these controls and feedback could be easily hooked to the web front-end thanks to the ease of Flask.</p>
		 		<p>To prevent issues with the system status going out of sync, the Pi also has an IR receiver, that reads the same IR commands that go out from my remote, and updates any changes not made by remoCondo. Since, more additional features have been added. When the features have been finalized, all components will be soldered and the breadboard will gone, along with proper mounting.</p>
		 		<h4>Features</h4>
		 		<ul>
		 			<li>Flask microframework to interact with devices, serve the front-end, and handle security</li>
		 			<li>Control of building buzzer box, including opening the main door</li>
		 			<li>IR control of A/V and HVAC</li>
		 			<li>IR receiving of commands from outside system</li>
		 			<li>Temperature sensor</li>
		 			<li>Toggleable Raspberry Pi camera module to check in on things</li>
		 		</ul>
                <br>
            </div>
            <div class="col-lg-4 col-lg-offset-1">
			 	<div class="spacing"></div>
		 		<h4>Project Details</h4>
		 		<div class="hline-dim"></div>
		 		<p><b>Name:</b> remoCondo</p>
		 		<p><b>Started:</b> April 2014</p>
		 		<p><b>Languages:</b> Python, Bash, HTML, CSS, JS</p>
		 		<p><b>Technologies:</b> Raspberry Pi, Flask, Sensors, Motors, Electronics</p>
		 		<p><b><i class="fa fa-github"></i> GitHub:</b> <a href="http://github.com/joesanford/remoCondo" target="_new">remoCondo</a></p>
		 		<div class="spacing"></div>
		 		<h4>Project Photos</h4>
		 		<div class="hline-dim"></div>
		 		<center><p><b>Interface</b></p></center>
		 		<img src="static/img/remocondo-interface.png"><br>
		 		<center><p><b>Current Breadboard Setup</b></p></center>
		 		<img src="static/img/rc.jpeg"><br><br>
		 	</div>
        </div>
    </div>
</div>
<div class="container">
    <div class="hline"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1">
                <div class="spacing"></div>
                <h4>Guitar Effects Pedals</h4>
                <p>I have worked on and off for years building, designing, and modifying effects pedals. Originally
                    inspired by circuit bending cheap pedals and finding interesting results, I moved on to trying a
                    pedal kit. It worked well, and I have made and modified several pedals since. Some pedals include a
                    ZVez Super Hard On and RAT clone combined into one pedal, a circuit bent Arion chorus that can
                    generate "whale like" tones, and many clones (MXR Phase 90, MXR Blue Box, TS-808).</p>
                <br>
            </div>
            <div class="col-lg-4 col-lg-offset-1">
                <div class="spacing"></div>
                <h4>Project Details</h4>
                <div class="hline-dim"></div>
                <p><b>Name:</b> Guitar Effects Pedals</p>
                <p><b>Started:</b> 2008</p>
                <div class="spacing"></div>
                <h4>Project Media</h4>
                <div class="hline-dim"></div>
                <center><p><b>SHO Clone</b></p></center>
                <img src="static/img/sho.jpeg"><br><br>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="hline"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1">
                <div class="spacing"></div>
                <h4>This Webpage!</h4>
                <p>I built this site in a weekend, mostly as a home to document my projects as I work on them. It is built on the Flask microframework, and served up on an nginx server via uWSGI, running in Docker. The CSS framework is (if it isn't obvious) Twitter Bootstrap</p>
                <br>
            </div>
            <div class="col-lg-4 col-lg-offset-1">
                <div class="spacing"></div>
                <h4>Project Details</h4>
                <div class="hline-dim"></div>
                <p><b>Name:</b> Personal Home Page</p>
                <p><b>Started:</b> 2015</p>
                <p><b>Languages:</b> Python, HTML, CSS, JS</p>
                <p><b>Technologies:</b> Flask, nginx, uWSGI, Twitter Bootstrap</p>
                <p><b><i class="fa fa-github"></i> GitHub:</b> <a href="http://github.com/joesanford/homepage"
                                                                  target="_new">homepage</a></p>
            </div>
        </div>
    </div>
</div>
<br>

{% endblock %}